<div class="container">
{{#if links}}
<ul>
  {{#each links }}
  <li>
    <a href="/link/{{id}}">{{title}}</a> - {{link}}
  </li>
  {{/each}}
</ul>
{{/if}}

<button type="button" name="publish"><a href="/link/new">Publish an New Link</a></button>
</div>
