<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hacker News</title>
  </head>
  <body>
    <a href="/#"><h1>Hacker News</h1></a>
    {{{ body }}}
  </body>
</html>
