<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hacker News</title>
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav>
    <div class="nav-wrapper amber darken-1">
      <a href="/#" class="brand-logo left"><i class="material-icons">view_list</i>Hacker News</a>
      <ul id="nav-mobile" class="right">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="#"> Welcome {{user.username}}</a>
        </li>
        <li class="nav-item">
        <i class="material-icons">add_circle_outline</i>
        </li>
        <li class="nav-item"><a href="/link/new">New Link</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <!--If not, displays only this portion-->
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        {{/if}}
    </div>
  </nav>
    {{{ body }}}
  </body>
</html>
