<div class="container">
<h3>Edit Link</h3>
<form action="/link/{{link.id}}?_method=PUT" method="post">
  <p>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{link.title}}">
  </p>
  <p>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" value="{{link.description}}">
  </p>
  <p>
    <label for="link">Link:</label>
    <input type="text" name="link" id="link" value="{{link.link}}">
  </p>
  <p>
    <input type="submit" value="Save">
  </p>
</form>
</div>
